@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}

p {
  margin-top: 0%;
  margin-bottom: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

body {
  font-family: "Alata", sans-serif;
  height: 100vh;
}

.container {
  width: 86%;
  margin: 1.875rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 50em) {
  .container {
    width: 69.375rem;
    margin: 3.125rem auto;
  }
}

.main__container {
  width: 86%;
  margin: 0 auto;
}
@media (min-width: 50em) {
  .main__container {
    width: 69.375rem;
    margin: 0 auto;
  }
}

header .container nav {
  display: none;
}
@media (min-width: 50em) {
  header .container nav {
    display: block;
    z-index: 2;
  }
  header .container nav a {
    color: hsl(0deg, 0%, 100%);
    padding: 0.625rem;
    margin-left: 1.5625rem;
    position: relative;
    cursor: pointer;
  }
  header .container nav a:hover::after {
    width: 30px;
  }
  header .container nav a::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: hsl(0deg, 0%, 100%);
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }
  header .container nav a::after:hover {
    width: 50px;
  }
}
header .container .burger {
  width: 2rem;
  height: 1.125rem;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
@media (min-width: 50em) {
  header .container .burger {
    display: none;
  }
}
header .container .burger.clicked span:first-child {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
header .container .burger.clicked span:nth-child(2) {
  top: 0.5rem;
  opacity: 0;
}
header .container .burger.clicked span:nth-child(3) {
  top: 1rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
header .container .burger span {
  background-color: hsl(0deg, 0%, 100%);
  height: 0.125rem;
  position: absolute;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform-origin: 15%;
          transform-origin: 15%;
}
header .container .burger span:first-child {
  top: 0;
}
header .container .burger span:nth-child(2) {
  top: 0.5rem;
}
header .container .burger span:nth-child(3) {
  top: 1rem;
}
header .container .burger ul {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: -30px;
  left: 0;
  height: 100vh;
  background-color: hsl(0deg, 0%, 0%);
  color: white;
  width: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  list-style: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.75rem;
  z-index: -2;
}
header .container .burger ul.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .container .burger ul li {
  margin-bottom: 1.25rem;
  text-transform: uppercase;
  font-weight: 300;
  cursor: pointer;
}
header .container > a {
  z-index: 3;
}

main .landing {
  margin-top: -6.03125rem;
  background: url(/images/mobile/image-hero.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 50em) {
  main .landing {
    background-image: url(/images/desktop/image-hero.jpg);
    margin-top: -8.53125rem;
    height: 40.625rem;
  }
}
main .landing .main__container div {
  width: 100%;
  outline: 0.25rem solid hsl(0deg, 0%, 100%);
  height: auto;
}
@media (min-width: 50em) {
  main .landing .main__container div {
    width: 45%;
  }
}
main .landing .main__container div p {
  font-family: "Josefin Sans", sans-serif;
  padding: 1.875rem;
  font-size: 2.5rem;
  color: hsl(0deg, 0%, 100%);
  text-transform: uppercase;
  line-height: 1.2;
}
@media (min-width: 50em) {
  main .landing .main__container div p {
    font-size: 3.125rem;
    font-weight: 300;
  }
}

main .leader {
  height: 100vh;
  padding: 3.75rem 0;
  overflow: hidden;
}
@media (min-width: 50em) {
  main .main__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr auto;
    grid-template-columns: 1fr auto;
  }
}
main .main__container .leader__image {
  background-image: url(/images/mobile/image-interactive.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  min-height: 13.8125rem;
  text-align: center;
}
@media (min-width: 50em) {
  main .main__container .leader__image {
    background-image: url(/images/desktop/image-interactive.jpg);
    height: 31.25rem;
    width: 100%;
  }
}
main .main__container .leader__info {
  padding: 0.9375rem;
  text-align: center;
  margin-top: 1.25rem;
}
@media (min-width: 50em) {
  main .main__container .leader__info {
    width: 33.75rem;
    height: 25rem;
    text-align: left;
    background-color: white;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-left: -10.0625rem;
    margin-bottom: -5rem;
    padding: 5.9375rem;
  }
}
main .main__container .leader__info h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300;
}
main .main__container .leader__info p {
  font-size: 0.9375rem;
  color: hsl(0deg, 0%, 55%);
  font-weight: 300;
  line-height: 1.8;
}
@media (min-width: 50em) {
  main .main__container .leader__info p {
    font-size: 0.8125rem;
  }
}