@use "../util/index2" as *;

.container {
  @include breakpoint(large) {
    width: rem(1110);
    margin: rem(50) auto;
  }
  width: 86%;
  margin: rem(30) auto;
  display: flex;
  justify-content: space-between;
}
.main__container {
  @include breakpoint(large) {
    width: rem(1110);
    margin: 0 auto;
  }
  width: 86%;
  margin: 0 auto;
}
