@use "../util/index2" as *;

main {
  .landing {
    margin-top: rem(-96.5);
    background: url("./images/mobile/image-hero.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    @include breakpoint(large) {
      background-image: url("./images/desktop/image-hero.jpg");
      margin-top: rem(-136.5);
      height: rem(650);
    }
    display: flex;
    align-items: center;
    //
    .main__container {
      div {
        @include breakpoint(large) {
          // width: rem(652);
          width: 45%;
        }
        width: 100%;
        outline: rem(4) solid $white;
        height: auto;
        p {
          @include breakpoint(large) {
            font-size: rem(50);
            font-weight: $sec-weight;
          }
          font-family: $sec-family;
          padding: rem(30);
          font-size: rem(40);
          color: $white;
          text-transform: uppercase;
          line-height: 1.2;
        }
      }
    }
  }
}
//section TWO
main {
  .leader {
    height: 100vh;
    padding: rem(60) 0;
    overflow: hidden;
    @include breakpoint(large) {
      padding: rem(100) 0;
    }
  }
  .main__container {
    @include breakpoint(large) {
      display: grid;
      grid-template-columns: 1fr auto;
    }
    .leader__image {
      @include breakpoint(large) {
        background-image: url("./images/desktop/image-interactive.jpg");
        height: rem(500);
        width: 100%;
      }
      background-image: url("./images/mobile/image-interactive.jpg");
      background-repeat: no-repeat;
      background-size: contain;
      width: 100%;
      min-height: rem(221);
      text-align: center;
    }
    .leader__info {
      @include breakpoint(large) {
        width: rem(540);
        height: rem(400);
        text-align: left;
        background-color: white;
        align-self: flex-end;
        margin-left: rem(-161);
        margin-bottom: rem(-80);
        padding: rem(95);
      }
      padding: rem(15);
      text-align: center;
      margin-top: rem(20);
      h1 {
        font-family: $sec-family;
        font-size: rem(32);
        text-transform: uppercase;
        font-weight: $sec-weight;
      }
      p {
        @include breakpoint(large) {
          font-size: rem(13);
        }
        font-size: rem(15);
        color: $dark-gray;
        font-weight: $sec-weight;
        line-height: 1.8;
      }
    }
  }
}
.creation {
  .heading {
    @include breakpoint(large) {
      display: flex;
      justify-content: space-between;
    }
    h1 {
      font-family: $sec-family;
      font-size: rem(32);
      text-transform: uppercase;
      font-weight: $sec-weight;
      text-align: center;
      margin-bottom: 0;
    }
    button {
      @include breakpoint(large) {
        display: block;
        text-transform: uppercase;
        font-size: rem(15);
        letter-spacing: rem(5);
        background-color: $white;
        border: 2px solid $very-dark-gray;
        padding: rem(14) rem(42) rem(13) rem(38);
        &:hover {
          background-color: $black;
          color: $white;
          transition: 0.3s;
        }
      }
      display: none;
    }
  }
  .btn {
    @include breakpoint(large) {
      display: none;
    }
    text-align: center;
    button {
      margin-inline: auto;
      margin-top: rem(32);
      text-transform: uppercase;
      font-size: rem(15);
      letter-spacing: rem(5);
      background-color: $white;
      border: 2px solid $very-dark-gray;
      padding: rem(14) rem(42) rem(13) rem(38);
    }
  }
}
.creation__grid {
  margin-top: rem(42);
  @include breakpoint(large) {
    margin-top: rem(83);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    grid-gap: rem(30);
  }
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-gap: rem(26);
  div {
    @include breakpoint(large) {
      width: rem(256);
      height: rem(450);
      padding: rem(355) rem(55) rem(40) rem(43);
      &:hover {
        color: $black;
        background-image: linear-gradient(
          rgba(255, 255, 255, 0.5),
          rgba(255, 255, 255, 0.5)
        );
      }
    }
    width: 100%;
    height: rem(118);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: $white;
    font-family: $sec-family;
    font-weight: $sec-weight;
    text-transform: uppercase;
    font-size: rem(26);
    padding: rem(51) rem(157) 0 rem(29);
    &:first-child {
      @include breakpoint(large) {
        background-image: url("./images/desktop/image-deep-earth.jpg");
        &:hover {
          background-image: linear-gradient(
              rgba(255, 255, 255, 0.3),
              rgba(255, 255, 255, 0.4)
            ),
            url("./images/desktop/image-deep-earth.jpg");
        }
      }
      background-image: url(".images/mobile/image-deep-earth.jpg");
    }
    &:nth-child(2) {
      @include breakpoint(large) {
        background-image: url("./images/desktop/image-night-arcade.jpg");
        &:hover {
          background-image: linear-gradient(
              rgba(255, 255, 255, 0.3),
              rgba(255, 255, 255, 0.4)
            ),
            url("./images/desktop/image-night-arcade.jpg");
        }
      }
      background-image: url("./images/mobile/image-night-arcade.jpg");
    }
    &:nth-child(3) {
      @include breakpoint(large) {
        background-image: url("./images/desktop/image-soccer-team.jpg");
        &:hover {
          background-image: linear-gradient(
              rgba(255, 255, 255, 0.3),
              rgba(255, 255, 255, 0.4)
            ),
            url("./images/desktop/image-soccer-team.jpg");
        }
      }
      background-image: url("./images/mobile/image-soccer-team.jpg");
    }
    &:nth-child(4) {
      @include breakpoint(large) {
        background-image: url("./images/desktop/image-grid.jpg");
        &:hover {
          background-image: linear-gradient(
              rgba(255, 255, 255, 0.5),
              rgba(255, 255, 255, 0.5)
            ),
            url("./images/desktop/image-grid.jpg");
        }
      }
      background-image: url("./images/mobile/image-grid.jpg");
    }
    &:nth-child(5) {
      @include breakpoint(large) {
        background-image: url("./images/desktop/image-from-above.jpg");
        &:hover {
          background-image: linear-gradient(
              rgba(255, 255, 255, 0.3),
              rgba(255, 255, 255, 0.4)
            ),
            url("./images/desktop/image-from-above.jpg");
        }
      }
      background-image: url("./images/mobile/image-from-above.jpg");
    }
    &:nth-child(6) {
      @include breakpoint(large) {
        background-image: url("./images/desktop/image-pocket-borealis.jpg");
        &:hover {
          background-image: linear-gradient(
              rgba(255, 255, 255, 0.3),
              rgba(255, 255, 255, 0.4)
            ),
            url("./images/desktop/image-pocket-borealis.jpg");
        }
      }
      background-image: url("./images/mobile/image-pocket-borealis.jpg");
    }
    &:nth-child(7) {
      @include breakpoint(large) {
        background-image: url("./images/desktop/image-curiosity.jpg");
        &:hover {
          background-image: linear-gradient(
              rgba(255, 255, 255, 0.3),
              rgba(255, 255, 255, 0.4)
            ),
            url("./images/desktop/image-curiosity.jpg");
        }
      }
      background-image: url("./images/mobile/image-curiosity.jpg");
    }
    &:last-child {
      @include breakpoint(large) {
        background-image: url("./images/desktop/image-fisheye.jpg");
        &:hover {
          background-image: linear-gradient(
              rgba(255, 255, 255, 0.3),
              rgba(255, 255, 255, 0.4)
            ),
            url("./images/desktop/image-fisheye.jpg");
        }
      }
      background-image: url("./images/mobile/image-fisheye.jpg");
    }
  }
}
